[submodule "sublime/.config/sublime-text-3/Packages/Material Theme"]
	path = sublime/.config/sublime-text-3/Packages/Material Theme
	url = https://github.com/equinusocio/material-theme
[submodule "zsh/.config/oh-my-zsh/themes/powerlevel9k"]
	path = zsh/.config/oh-my-zsh/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
