!
! Rofi settings
!

! Functionality
rofi.cycle:				true
rofi.show:				run
rofi.modi:				window,run,drun
rofi.scroll-method:		1
rofi.click-to-exit:		true

! Looks
rofi.font:				Roboto Mono 13
rofi.bw:				0
rofi.eh:				1
rofi.line-margin:		15
rofi.hide-scrollbar:	true
rofi.lines:				12
rofi.columns:			1
rofi.width:				55
rofi.location:			0
rofi.padding:			20
rofi.sidebar-mode:		true
rofi.window-format:		[{w:5}] {t:80} ({c:10})
rofi.separator-style:	solid

! Colors
rofi.color-enabled:		true

! State					BG			Border		Separator
rofi.color-window:		#D0212121,	#00000000,	#4A4A4A

! State					BG			FG (text)	BG (alt)	BG (sel)	FG (sel)
rofi.color-normal:		#00000000,	#EEFFFF,	#00000000,	#4A4A4A,	#EEFFFF
rofi.color-active:		#00000000,	#C3E88D,	#00000000,	#4A4A4A,	#C3E88D
rofi.color-urgent:		#00000000,	#FFCB6B,	#00000000,	#4A4A4A,	#FFCB6B
